name: Publish Gem

on:
  release:
    types:
      - "created"
  push:
    branches:
      - build-fix-rake-release


jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Release Gem
        uses: rubygems/release-gem@v1
